main {
    background-color: #d48f38;
    min-height: 100px;

    .container {
        background-color: white;

        .row:first-child {
            background-color: black;
            height: 50px;
            color: white;
        }
    }
}

.col {
    background-color: #d48f38;
}